//Stillingar
$small-width: 500px;
$max-width: 1200px;
$gutter: 20px;
$font-main: Lora, "Times New Roman", serif;
$font-heading: "Roboto Mono", "Courier New", monospace;
//Litir
$color-black: #000;
$color2: #999;
$color3: #aaa;
$color4: #ccc;
$color5: #2d2;
$color6: #141;
$color7: #cc9694;
$color8: #fcffd2;