@import "config";

.Header {
    position: relative;
    display: flex;
    background-image: url("../../img/header.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 290px;
    vertical-align: middle;
    width: 100%;
    background-color: rgba(255, 255, 255 0.4);
  }
  
  .Header__Text {
    font-size: 1.5em;
    padding-top: 7em;
    text-align: center;
  }
  
  p {
    font-family: "Lora", serif;
  }
  
  h1 {
    font-family: "Roboto Mono", "Courier New", monospace;
  }

/*  &_category {
    position: relative;
    z-index: 1;
    display: block;
    font-size: 1rem;
    font-family: $font-header;
    text-transform: uppercase;
  }

  &_title {
    position: relative;
    z-index: 1;
    font-size: 3rem;
    font-family: $font-header;
  } */